.admin-page {
    height: 100vh;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .admin-page h4 {
    color: grey;
    font-size: 2rem;
  }
  
  .admin-page h1 {
    padding-bottom: 0.2rem;
    text-align: start;
  }
  
  .budget-button {
    width: 7rem;
    font-size: 0.8rem;
    margin-right: 0 2rem;
  }
  
  .budget-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .budget-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .budget-app {
    background-color: white;
    border-radius: 8rem;
    padding: 2rem;
    border: 1px solid #888;
    border-radius: 5px;
    max-width: 80%;
    width: 400px;
    text-align: center;
    position: relative;
  }
  
  .budget-top {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    background-color: #f2f2f2;
    padding: 2rem;
    flex-direction: column;
  }
  
  .budget-table {
    width: 100%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 1rem;
  }
  
  .budget-table th,
  .budget-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .budget-table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .budget-action-d {
    background-color: lightcoral;
  }
  
  .budget-action-e,
  .budget-action-d,
  .budget-button {
    width: 5rem;
    border-radius: 0.5rem;
    height: 50px;
    margin: 0 1rem;
    padding: 0;
    display: inline-block;
    text-align: center;
    letter-spacing: normal;
  }
  
  .add-budget-btn, .budget-logout {
    width: 10rem;
    font-size: 0.8rem;
    border-radius: 0.5rem;
  }
  
  .budget-balance{
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
    align-items: center;
  }
  
  .budget-user-logout{
    display: flex;
    justify-content: space-between;
  }
  