.accounts-page {
  margin-left: auto;
  margin-right: auto;
}

#title-accounts {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 1rem;
  text-align: start;
  color: #00a26d;
}

p#description-accounts {
  font-weight: bold;
}

.accounts-top {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 2rem;
  flex-direction: column;
}

.accounts-table {
  width: 100%;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.accounts-table th,
.accounts-table td {
  padding: 8px;
  text-align: center;
  background-color: white;
}

.accounts-table th {
  color: #888;
  background-color: #f2f2f2;
  font-weight: bold;
  padding: 1.2rem;
}

.wrapper {
  position: sticky;
  top: 0;
  background-color: white;
  max-height: 80vh;
  overflow-y: auto;
}

.wrapper::-webkit-scrollbar {
  width: 8px;
}

.wrapper::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 4px;
}

.wrapper::-webkit-scrollbar-track {
  background: transparent;
}

table.table-element-accounts {
  width: 100%;
}

.searchBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}

.edit-icon-accounts {
  cursor: pointer;
  transition: color 0.3s;
  color: #666666;
}

.cancel-icon-accounts {
  cursor: pointer;
  transition: color 0.3s;
  color: #666666;
  height: 37%;
  width: 37%;
}

.cancel-icon-accounts:hover {
  color: #ff0000;
}

.edit-icon-accounts:hover {
  color: #ff0000;
}

#searchQueryInput {
  width: 47%;
  height: 2.8rem;
  background: #f5f5f5;
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 1rem;
  margin-left: 2rem;
}

#searchQuerySubmit {
  width: 3.5rem;
  margin-bottom: 10px;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;
}

#searchQuerySubmit:hover {
  cursor: pointer;
}

.input-accounts {
  width: 95%;
  background-color: white;
  color: black;
  box-sizing: border-box;
  border-radius: 0.2rem;
  border: 1px solid #00a26d;
  padding: 0.3em;
  margin-bottom: 1.25rem;
  font-size: 0.875rem;
  outline: none;
  margin-left: 1.25rem;
}
