.accounts-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px;
}

.accounts-table th,
.accounts-table td {
  padding: 8px;
  text-align: left;
}

.wrapper {
  width: 80%;
  background-color: white;
  border-radius: 15px;
  height: 60vh;
  margin-left: 7.7rem;
}

// table {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   flex-direction: column;
// }

.searchBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}

.edit-icon {
  cursor: pointer;
  transition: color 0.3s;
  color: #666666;
}

.edit-icon:hover {
  color: #ff0000;
}

#searchQueryInput {
  width: 47%;
  height: 2.8rem;
  background: #f5f5f5;
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 1rem;
  margin-left: 2rem;
}

#searchQuerySubmit {
  width: 3.5rem;
  margin-bottom: 10px;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;
}

#searchQuerySubmit:hover {
  cursor: pointer;
}

.input-accounts {
  width: 75%;
  height: 30%;
  padding: 0.3em;
}
