
.overview-admin{
    // border:1px solid red;
    height: 80vh;
    width: 80vw;
    font-family: $fontStyle;
    @include center;
    flex-direction: row;
    .stats-container{
        @include center;
        flex-direction: column;
        height: 80vh;
        width: 40vw;
        .deposit-container{
            // border: 1px solid blue;
            @include center;
            height: clamp(10rem, 6.429rem + 9.524vw, 15rem);
            width: clamp(15rem, 4.286rem + 28.571vw, 30rem);
            border-radius: 1rem;
            background-color: $sideBarColor;
            margin: 2vh;
            box-shadow: 1px 1px 19px -2px rgba(0, 0, 0, 0.45);

            
            h1{
                text-align: center;
                padding: 1rem;
               font-size: $largeFont;
               font-weight: bold;
               color: $primaryColor;
            }
            h2{
                padding: 1rem;
                font-size: clamp(1rem, 0.643rem + 0.952vw, 1.5rem);
                
    
            }
        }
    
        .clients-container{
            // border: 1px solid blue;
            @include center;
            height: clamp(10rem, 6.429rem + 9.524vw, 15rem);
            width: clamp(15rem, 4.286rem + 28.571vw, 30rem);
            border-radius: 1rem;
            margin:0;
            background-color: $sideBarColor;
            box-shadow: 1px 1px 19px -2px rgba(0, 0, 0, 0.45);
            h1{
                text-align: center;
                padding: 1rem;
                font-size: $largeFont;
                font-weight: bold;
                color: $primaryColor;
                
            }
            h2{
                padding: 1rem;
                font-size: clamp(1rem, 0.643rem + 0.952vw, 1.5rem);
               
            }
        }
    }
    

    .currency-container{
        // border: 1px solid red;
        height: 80vh;
        width: 40vw;
        margin:0;
        @include center;
        text-align: center;
        

        .currency-inner-cont{
            @include center;
            height:25rem;
            width:clamp(15rem, 4.286rem + 28.571vw, 30rem);
            border-radius: 2rem;
            background-color: $sideBarColor;
            box-shadow: 1px 1px 19px -2px rgba(0, 0, 0, 0.45);
        }
        .currency__equals{
            color: $primaryColor;
            font-size: clamp(1rem, 0.286rem + 1.905vw, 2rem);
        }
    
        h1{
            font-size: clamp(1rem, 0.286rem + 1.905vw, 2rem);
            margin-top:1rem;
            margin-bottom:2rem;
            color:$primaryColor;
            font-family: $fontStyle;
            font-weight:600;
            
        }
        .currency-input{
            border: none;
            border-radius: 1rem;
            font-size:clamp(1rem, 0.643rem + 0.952vw, 1.5rem);
            font-family: $fontStyle;
            background-color: $pageColor;
            padding:1rem;
            width: clamp(10rem, 6.429rem + 9.524vw, 15rem);
            height:2rem;
            text-align: center;
            
        }
        select{
            margin:1rem;
            font-family: inherit;
            font-size: clamp(1rem, 0.286rem + 1.905vw, 2rem);
            border-radius: 1rem;
            background-color: $primaryColor;
            color: white;
            text-align: center;
            border: none;
            font-family: $fontStyle;
            cursor: pointer;
        }
    }
}
    
    
