.overview-customer{
    display: flex;
    flex-direction: row;
    .card-container{
        padding:0.5rem;
        height:16rem;
        width: 27rem;
        background-image: url('assets/image/card.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        color:white;
        padding-left: 2.2rem;
        .card-account-number{
            padding-top: 6rem;
            padding-bottom: 0.5rem;
        }
        .card-balance{
            font-size: 3rem;
            padding-bottom: 0.5rem;
        }
        .card-name{
            font-size: 1.5rem;
            padding-bottom: 0.25rem,;
        }
        
    }
    .transaction-container{
        height: 80vh;
        min-width:35vw ;
        margin-left: 2rem;
        margin-right: 1rem;
        // border: 1px solid red;
        background-color: $sideBarColor;
        border-radius: 1rem;
        .transaction-title{
            margin-top: 1rem;
            font-size: $mediumFont;
            font-family: $fontStyle;
            @include center;
        }
    }
    
    
}