.overview-customer{
    display: flex;
    flex-direction: row;
    .card-container{
        // border: 1px solid red;
        border-radius: clamp(0.5rem, 0.143rem + 0.952vw, 1rem);
        padding:0.5vw;
        height:20vw;
        width: 40vw;
        background-image: url('assets/image/card.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        color:white;
        padding-left: 2.2vw;
        .card-account-number{
            padding-top: 6vw;
            padding-bottom: 0.5vw;
        }
        .card-balance{
            font-size: 3vw;
            padding-bottom: 0.5vw;
        }
        .card-name{
            font-size: 1.5vw;
            padding-bottom: 0.25vw,;
        }
        
    }
    .transaction-container{
        height: 80vh;
        min-width:35vw ;
        margin-left: 2vw;
        margin-right: 1vw;
        // border: 1px solid red;
        background-color: $sideBarColor;
        border-radius: 1vw;
        .transaction-title{
            margin-top: 1vw;
            font-size: $mediumFont;
            font-family: $fontStyle;
            @include center;
        }
    }
    
    
}