// currency

.currency-container{
    height: 80vh;
    width: 70vw;
    margin:0;
    @include center;
    text-align: center;
    .currency-inner-cont{
        @include center;
        height:60vh;
        width:40vw;
        border-radius: 2rem;
        background-color: $sideBarColor;
    }
    .currency__equals{
        color: $primaryColor;
        font-size: $xlargeFont;
    }

    h1{
        font-size: $xlargeFont;
        margin:0;
        margin-bottom:2rem;
        color:$primaryColor;
        font-family: $fontStyle;
        font-weight:600;
    }
    .currency-input{
        border: none;
        border-radius: 1rem;
        font-size: $xlargeFont;
        font-family: $fontStyle;
        background-color: $pageColor;
        padding:1rem;
        width: 20rem;
        height:4rem;
        text-align: center;
        
    }
    select{
        margin:1rem;
        font-family: inherit;
        font-size: $xlargeFont;
        border-radius: 1rem;
        background-color: $primaryColor;
        color: white;
        text-align: center;
        border: none;
        font-family: $fontStyle;
        cursor: pointer;
    }
}
