.goals-container {
  margin-left: auto;
  margin-right: auto;

  .goal-top {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 2rem 2rem 0.5rem 2rem;
    flex-direction: column;

    h1 {
      font-size: 2rem;
      font-weight: bold;
      padding-bottom: 0.8rem;
    }
    h3 {
      padding-bottom: 3rem;
    }
  }

  .goal-form {
    display: flex;
    justify-content: center;
    gap: 2rem;
    
    .goal-button {
      border: none;
      outline: none;
      width: 5rem;
      border-radius: 0.5rem;
      height: 50px;
      padding: 0;
      display: inline-block;
      text-align: center;
      letter-spacing: normal;
    }
  }
}

.goal-table {
  width: 100%;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  th,
  td {
    padding: 8px;
    text-align: center;
    background-color: white;
  }

  th {
    color: #888;
    background-color: #f2f2f2;
    font-weight: bold;
    padding: 1.2rem;
  }
  .goal-action-d {
    background-color: lightcoral;
    color: white;
    font-size: 1.2rem;
  }

  .goal-action-e {
    background-color: #00a26d;
    color: white;
    font-size: 1.2rem;
  }
}

.goal-table-wrapper {
  position: sticky;
  top: 0;
  background-color: white;
}

.goal-table-list-container {
  max-height: 50vh;
  overflow-y: auto;
}

.gname,
.gamount {
  width: clamp(10rem, 2.857rem + 19.048vw, 20rem);
  background-color: white;
  color: black;
  box-sizing: border-box;
  border-radius: 0.5rem;
  border: 1px solid #00a26d;
  padding: 1em;
  margin-bottom: 1.25rem;
  font-size: 0.875rem;
  outline: none;
}

.goal-action-e,
.goal-action-d {
  border: none;
  outline: none;
  width: 5rem;
  border-radius: 0.5rem;
  height: 50px;
  margin: 0 1rem;
  padding: 0;
  display: inline-block;
  text-align: center;
  letter-spacing: normal;
}
