.header{
    // border: 1px solid black;
    width: 80vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color:$headerColor;
}

//header
.header__user-container{
    padding-right: 2rem;
}