.header{
    // border: 1px solid black;
    width: 80vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color:$headerColor;
}

//header
.header__user-container{
    height:fit-content ;
    width:fit-content;
    background-color: $sideBarColor;
    margin-right: 2rem;
    padding:1rem ;
    border-radius: 1rem;
}