.header{
    // border: 1px solid black;
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:$headerColor;
    img{
        padding-left: 3rem;
        width: 13vw;
 }
}

//header
.header__user-container{
    height:fit-content ;
    width:fit-content;
    background-color: $primaryColor;
    margin-right: 2rem;
    padding:1rem ;
    border-radius: 1rem;
    font-size: $mediumFont;
    span{
        color: $sideBarColor;
        .header-name{
            font-weight: bold;
        }
    }
}