
.split-screen {
  display: flex;
  height: 70vh;
  width: 70vw;
  background-color: white;
  border-radius: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  padding: 1rem;
  box-shadow: 1px 1px 19px -2px rgba(0,0,0,0.45);

  .left,
  .right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
  }

  .right {
    background-image: url("src/assets/image/login-image.png");
    background-size: cover;
    background-repeat: no-repeat;
    // background-color: pink;
    border-radius: 1rem;
  }

  .left {
    display: grid;
    place-items: center;

    .login-button {
      width: clamp(15rem, 7.857rem + 19.048vw, 25rem);
      color: white;
      border: none;
      padding: 1rem;
      border-radius: 2rem;
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      font-weight: 700;
      font-size: 1rem;
      background-color: #00a26d;
      border: none;
      outline: none;

      &:hover {
        background-color: #1ea87b;
        cursor: pointer;
      }
    }

    .login-input {
      width: clamp(15rem, 7.857rem + 19.048vw, 25rem);
      background-color: white;
      color: black;
      box-sizing: border-box;
      border-radius: 0.5rem;
      border: 1px solid #00a26d;
      padding: 1em;
      margin-bottom: 1.25rem;
      font-size: 0.875rem;
      outline: none;
    }

    .login-page {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      h1 {
        font-size: 2.5rem;
        font-weight: 600;
        padding-bottom: 0.8rem;
      }

      p {
        padding-bottom: 2rem;
      }

      .login-logo{
        width: 13rem;
        padding-bottom: 3.5rem;
      }
    }
    .error-message {
      display: none;
      color: red;
      background-color: lightpink;
      text-align: center;
      display: inline-block;
      padding: 0.5rem;
      width: clamp(13rem, 5.143rem + 20.952vw, 24rem);
      height: 0.5rem;
      margin-bottom: 1rem;
      border-radius: 0.5rem;
    }
  }
}

@media only screen and (max-width: 851px) {
  .split-screen {
    display: flex;
    flex-direction: column;
  }

  .login-page {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
