@media (max-width:851px){
.header{
    justify-content: space-between;
    .header__burger-btn{
        margin-left: 1rem;
        display: block;
        height: 3rem;
        width: 3rem;
        min-width: 2rem;
        color:white;
    }
    .header__user-container{
        margin-right:0;
    }
}

.sidebar{
    @include center;
    width: 10rem;
    position:fixed;
    .sidebar-icon{display:none}
    z-index: 10;
    .sidebar__main{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .custom-link {
            @include center;
            width: 15vw;
            margin-bottom: 0.1rem;
            margin-top: 0.1rem;
        }
        .custom-link:hover {
            @include center;
            border-radius: 0 0 0 0;
            padding-left:0;
            padding-right: 0;
            width: 20vw;
            margin-bottom: 0.1rem;
            margin-top: 0.1rem;
        }
        .active{
            @include center;
            border-radius: 0 0 0 0;
            padding-left:0;
            padding-right: 0;
            width: 20vw;
            margin-bottom: 0.1rem;
            margin-top: 0.1rem;
        }
    }
   
}

.content{
    @include center;
}
}

@media (max-width:337px){

}