.sidebar{
    // border: 1px solid black;
    font-family: $fontStyle;
    background-color: $sideBarColor;
    width: 20vw;
    height: 90vh;
}


.sidebar__main {
    display: flex;
    align-items: flex-end;
    width: 20vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    font-size: $mediumFont;
    justify-content: center;
    .custom-link {
      // border: 1px solid red;
      display: flex;
      align-items: center;
      height: clamp(0.5rem, -0.571rem + 2.857vw, 2rem);
      width: clamp(1rem, -6.857rem + 20.952vw, 12rem);
      padding: 1rem 2rem;
      margin-bottom: 0.1rem;
      margin-top: 0.1rem;
      cursor: pointer;
      color: $primaryColor;
      transition: width 0.5s; /* Smooth transition for the width property */
      .sidebar-icon{
        height:$mediumFont;
        width: $mediumFont;
      }
      &:hover {
        background-color: $primaryColor;
        border-radius: 2rem 0 0 2rem;
        color: $sideBarColor;
        width: clamp(1.5rem, -6.714rem + 21.905vw, 13rem); /* Adjust the width on hover */
      }
    }
  
    .active {
      height: clamp(0.5rem, -0.571rem + 2.857vw, 2rem);
      width: clamp(2rem, -7.286rem + 24.762vw, 15rem);
      padding: 1rem 2rem;
      cursor: pointer;
      color: $sideBarColor;
      background-color: $primaryColor;
      border-radius: 2rem 0 0 2rem;
      transition: width 0.3s; /* Smooth transition for the width property */
    }
  }
  


.sidebar__footer{
    width: 20vw;
    height: 20vh; 
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    
    .sidebar__footer-container{
        display:flex;
        align-items: flex-end;
        .logout-button{
          display: flex;
          align-items: center;
          justify-content: center;
          height: 2rem;
          width: 12rem;
          padding: 1rem 2rem;
          margin-bottom: 0.1rem;
          margin-top: 0.1rem;
          cursor: pointer;
          color: $primaryColor;
          transition: width 0.5s; 
          background-color: $sideBarColor;
          font-family: $fontStyle;
          font-weight: default;
          font-size: $mediumFont;
          text-align: center;
        }
        .logout-button:hover{
          background-color: $primaryColor;
          border-radius: 2rem 0 0 2rem;
          color: $sideBarColor;
          width: 13rem;
        }
    }
}


