.sidebar{
    // border: 1px solid black;
    font-family: $fontStyle;
    background-color: $sideBarColor;
    width: 20vw;
    height: 100vh;
}

.sidebar__header{
    // border: 1px solid red;
    width: 20vw;
    height: 20vh;
    padding-left: 1rem;
    font-size: $largeFont;
    @include center;
    img{
      width: 15vw;
    }
}

.sidebar__main {
    display: flex;
    align-items: flex-end;
    width: 20vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    font-size: $mediumFont;
  
    .custom-link {
      display: flex;
      align-items: center;
      height: 2rem;
      width: 12rem;
      padding: 1rem 2rem;
      margin-bottom: 0.1rem;
      margin-top: 0.1rem;
      cursor: pointer;
      color: $primaryColor;
      transition: width 0.5s; /* Smooth transition for the width property */
  
      &:hover {
        background-color: $primaryColor;
        border-radius: 2rem 0 0 2rem;
        color: $sideBarColor;
        width: 13rem; /* Adjust the width on hover */
      }
    }
  
    .active {
      height: 2rem;
      width: 15rem;
      padding: 1rem 2rem;
      cursor: pointer;
      color: $sideBarColor;
      background-color: $primaryColor;
      border-radius: 2rem 0 0 2rem;
      transition: width 0.3s; /* Smooth transition for the width property */
    }
  }
  


.sidebar__footer{
    width: 20vw;
    height: 20vh; 
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    
    .sidebar__footer-container{
        display:flex;
        align-items: flex-end;
        .logout-button{
          display: flex;
          align-items: center;
          justify-content: center;
          height: 2rem;
          width: 12rem;
          padding: 1rem 2rem;
          margin-bottom: 0.1rem;
          margin-top: 0.1rem;
          cursor: pointer;
          color: $primaryColor;
          transition: width 0.5s; 
          background-color: $sideBarColor;
          font-family: $fontStyle;
          font-weight: default;
          font-size: $mediumFont;
          text-align: center;
        }
        .logout-button:hover{
          background-color: $primaryColor;
          border-radius: 2rem 0 0 2rem;
          color: $sideBarColor;
          width: 13rem;
        }
    }
}


