@import url("https://fonts.cdnfonts.com/css/poppins");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

main {
  width: 80vw;
  height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

.body {
  background-color: #e8e8e8;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.header {
  width: 80vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #e8e8e8;
}

.header__user-container {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #ffffff;
  margin-right: 2rem;
  padding: 1rem;
  border-radius: 1rem;
}

.sidebar {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  width: 20vw;
  height: 100vh;
}

.sidebar__header {
  width: 20vw;
  height: 20vh;
  padding-left: 1rem;
  font-size: clamp(1.5rem, 1.143rem + 0.952vw, 2rem);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sidebar__header img {
  width: 15vw;
}

.sidebar__main {
  display: flex;
  align-items: flex-end;
  width: 20vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  font-size: clamp(0.5rem, -0.214rem + 1.905vw, 1.5rem);
}
.sidebar__main .custom-link {
  border: 1px solid red;
  display: flex;
  align-items: center;
  height: clamp(0.5rem, -0.571rem + 2.857vw, 2rem);
  width: clamp(1rem, -6.857rem + 20.952vw, 12rem);
  padding: 1rem 2rem;
  margin-bottom: 0.1rem;
  margin-top: 0.1rem;
  cursor: pointer;
  color: #00a26d;
  transition: width 0.5s; /* Smooth transition for the width property */
}
.sidebar__main .custom-link .sidebar-icon {
  height: clamp(0.5rem, -0.214rem + 1.905vw, 1.5rem);
  width: clamp(0.5rem, -0.214rem + 1.905vw, 1.5rem);
}
.sidebar__main .custom-link:hover {
  background-color: #00a26d;
  border-radius: 2rem 0 0 2rem;
  color: #ffffff;
  width: clamp(1.5rem, -6.714rem + 21.905vw, 13rem); /* Adjust the width on hover */
}
.sidebar__main .active {
  height: clamp(0.5rem, -0.571rem + 2.857vw, 2rem);
  width: clamp(2rem, -7.286rem + 24.762vw, 15rem);
  padding: 1rem 2rem;
  cursor: pointer;
  color: #ffffff;
  background-color: #00a26d;
  border-radius: 2rem 0 0 2rem;
  transition: width 0.3s; /* Smooth transition for the width property */
}

.sidebar__footer {
  width: 20vw;
  height: 20vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.sidebar__footer .sidebar__footer-container {
  display: flex;
  align-items: flex-end;
}
.sidebar__footer .sidebar__footer-container .logout-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 12rem;
  padding: 1rem 2rem;
  margin-bottom: 0.1rem;
  margin-top: 0.1rem;
  cursor: pointer;
  color: #00a26d;
  transition: width 0.5s;
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: default;
  font-size: clamp(0.5rem, -0.214rem + 1.905vw, 1.5rem);
  text-align: center;
}
.sidebar__footer .sidebar__footer-container .logout-button:hover {
  background-color: #00a26d;
  border-radius: 2rem 0 0 2rem;
  color: #ffffff;
  width: 13rem;
}

.content {
  height: 90vh;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content-container {
  padding: 2rem;
  height: 80vh;
  width: 70vw;
  border-radius: 1rem;
  background-color: #e8e8e8;
}

.overview-customer {
  display: flex;
  flex-direction: row;
}
.overview-customer .card-container {
  padding: 0.5rem;
  height: 16rem;
  width: 27rem;
  background-image: url("assets/image/card.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  color: white;
  padding-left: 2.2rem;
}
.overview-customer .card-container .card-account-number {
  padding-top: 6rem;
  padding-bottom: 0.5rem;
}
.overview-customer .card-container .card-balance {
  font-size: 3rem;
  padding-bottom: 0.5rem;
}
.overview-customer .card-container .card-name {
  font-size: 1.5rem;
  padding-bottom: 0.25rem;
}
.overview-customer .transaction-container {
  height: 80vh;
  min-width: 35vw;
  margin-left: 2rem;
  margin-right: 1rem;
  background-color: #ffffff;
  border-radius: 1rem;
}
.overview-customer .transaction-container .transaction-title {
  margin-top: 1rem;
  font-size: clamp(0.5rem, -0.214rem + 1.905vw, 1.5rem);
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.overview-admin {
  height: 80vh;
  width: 70vw;
  font-family: "Poppins", sans-serif;
}
.overview-admin .deposit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 30vh;
  width: 30vw;
  border-radius: 1rem;
  margin: 2rem;
  background-color: #ffffff;
}
.overview-admin .deposit-container h1 {
  padding: 1rem;
  font-size: clamp(1.5rem, 1.143rem + 0.952vw, 2rem);
}
.overview-admin .deposit-container h2 {
  padding: 1rem;
  font-size: clamp(0.5rem, -0.214rem + 1.905vw, 1.5rem);
  color: #00a26d;
}
.overview-admin .clients-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 30vh;
  width: 30vw;
  border-radius: 1rem;
  margin: 2rem;
  background-color: #ffffff;
}
.overview-admin .clients-container h1 {
  padding: 1rem;
  font-size: clamp(1.5rem, 1.143rem + 0.952vw, 2rem);
}
.overview-admin .clients-container h2 {
  padding: 1rem;
  font-size: clamp(0.5rem, -0.214rem + 1.905vw, 1.5rem);
  color: #00a26d;
}

.currency-container {
  height: 80vh;
  width: 70vw;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.currency-container .currency-inner-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 60vh;
  width: 40vw;
  border-radius: 2rem;
  background-color: #ffffff;
}
.currency-container .currency__equals {
  color: #00a26d;
  font-size: clamp(1.5rem, 0.429rem + 2.857vw, 3rem);
}
.currency-container h1 {
  font-size: clamp(1.5rem, 0.429rem + 2.857vw, 3rem);
  margin: 0;
  margin-bottom: 2rem;
  color: #00a26d;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.currency-container .currency-input {
  border: none;
  border-radius: 1rem;
  font-size: clamp(1.5rem, 0.429rem + 2.857vw, 3rem);
  font-family: "Poppins", sans-serif;
  background-color: #e8e8e8;
  padding: 1rem;
  width: 20rem;
  height: 4rem;
  text-align: center;
}
.currency-container select {
  margin: 1rem;
  font-family: inherit;
  font-size: clamp(1.5rem, 0.429rem + 2.857vw, 3rem);
  border-radius: 1rem;
  background-color: #00a26d;
  color: white;
  text-align: center;
  border: none;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.accounts-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px;
}

.accounts-table th,
.accounts-table td {
  padding: 8px;
  text-align: left;
}

.wrapper {
  width: 80%;
  background-color: white;
  border-radius: 15px;
  height: 60vh;
  margin-left: 7.7rem;
}

table {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.searchBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}

.edit-icon {
  cursor: pointer;
  transition: color 0.3s;
  color: #666666;
}

.edit-icon:hover {
  color: #ff0000;
}

#searchQueryInput {
  width: 47%;
  height: 2.8rem;
  background: #f5f5f5;
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 1rem;
  margin-left: 2rem;
}

#searchQuerySubmit {
  width: 3.5rem;
  margin-bottom: 10px;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;
}

#searchQuerySubmit:hover {
  cursor: pointer;
}

.input-accounts {
  width: 75%;
  height: 30%;
  padding: 0.3em;
}

.split-screen {
  display: flex;
  height: 100vh;
}
.split-screen .left,
.split-screen .right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: auto;
}
.split-screen .right {
  background-image: url("assets/image/login-image.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.split-screen .left {
  display: grid;
  place-items: center;
}
.split-screen .left .login-button {
  width: clamp(15rem, 7.857rem + 19.048vw, 25rem);
  color: white;
  border: none;
  padding: 1rem;
  border-radius: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 700;
  font-size: 1rem;
  background-color: #00a26d;
  border: none;
  outline: none;
}
.split-screen .left .login-button:hover {
  background-color: #1ea87b;
  cursor: pointer;
}
.split-screen .left .login-input {
  width: clamp(15rem, 7.857rem + 19.048vw, 25rem);
  background-color: white;
  color: black;
  box-sizing: border-box;
  border-radius: 0.5rem;
  border: 1px solid #00a26d;
  padding: 1em;
  margin-bottom: 1.25rem;
  font-size: 0.875rem;
  outline: none;
}
.split-screen .left .login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.split-screen .left .login-page h1 {
  font-size: 3rem;
  font-weight: 600;
  padding-bottom: 0.8rem;
}
.split-screen .left .login-page p {
  padding-bottom: 2rem;
}
.split-screen .left .error-message {
  display: none;
  color: red;
  background-color: lightpink;
  text-align: center;
  display: inline-block;
  padding: 0.5rem;
  width: clamp(13rem, 5.143rem + 20.952vw, 24rem);
  height: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

@media only screen and (max-width: 851px) {
  .split-screen {
    display: flex;
    flex-direction: column;
  }
  .login-page {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.budget-page {
  margin-left: auto;
  margin-right: auto;
}
.budget-page h1 {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 1rem;
  text-align: start;
}
.budget-page .budget-top {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 2rem;
  flex-direction: column;
}
.budget-page .budget-top .budget-balance {
  display: flex;
  justify-content: space-between;
  padding-top: 1.5rem;
  align-items: center;
}
.budget-page .budget-top .budget-balance .add-budget-btn {
  width: 10rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  background-color: #00a26d;
  color: white;
  font-weight: 700;
}
.budget-page .budget-top .budget-balance .bgt-balance h2 {
  font-size: 2rem;
  font-weight: bold;
}
.budget-page .budget-top .budget-balance .bgt-balance h3 {
  font-size: 1.2rem;
}

.budget-table {
  width: 100%;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.budget-table th, .budget-table td {
  padding: 8px;
  text-align: center;
  background-color: white;
}
.budget-table th {
  color: #888;
  background-color: #f2f2f2;
  font-weight: bold;
  padding: 1.2rem;
}
.budget-table .budget-action-d {
  background-color: lightcoral;
  color: white;
  font-size: 1.2rem;
}
.budget-table .budget-action-e {
  background-color: #00a26d;
  color: white;
  font-size: 1.2rem;
}

.budget-table-wrapper {
  position: sticky;
  top: 0;
  background-color: white;
}

.budget-table-list-container {
  max-height: 50vh;
  overflow-y: auto;
}

.budget-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.budget-modal .budget-app {
  background-color: white;
  padding: 2rem;
  border: 1px solid #888;
  border-radius: 5px;
  width: 25rem;
  text-align: center;
  position: relative;
}
.budget-modal .budget-app h2 {
  font-size: 1.5rem;
  padding-bottom: 1rem;
  font-weight: bold;
}
.budget-modal .budget-app .budget-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.budget-modal .budget-app .budget-form .budget-input {
  width: clamp(15rem, 7.857rem + 19.048vw, 25rem);
  background-color: white;
  color: black;
  box-sizing: border-box;
  border-radius: 0.5rem;
  border: 1px solid #00a26d;
  padding: 1em;
  margin-bottom: 1.25rem;
  font-size: 0.875rem;
  outline: none;
}
.budget-modal .budget-app .budget-button {
  width: 7rem;
  font-size: 1.2rem;
  margin-right: 0 2rem;
  background-color: #00a26d;
  color: white;
}

.budget-action-e,
.budget-action-d,
.budget-button,
.add-budget-btn {
  border: none;
  outline: none;
  width: 5rem;
  border-radius: 0.5rem;
  height: 50px;
  margin: 0 1rem;
  padding: 0;
  display: inline-block;
  text-align: center;
  letter-spacing: normal;
}

.goals-container {
  margin-left: auto;
  margin-right: auto;
}
.goals-container .goal-top {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 2rem 2rem 0.5rem 2rem;
  flex-direction: column;
}
.goals-container .goal-top h1 {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 0.8rem;
}
.goals-container .goal-top h3 {
  padding-bottom: 3rem;
}
.goals-container .goal-form {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.goals-container .goal-form .goal-button {
  border: none;
  outline: none;
  width: 5rem;
  border-radius: 0.5rem;
  height: 50px;
  padding: 0;
  display: inline-block;
  text-align: center;
  letter-spacing: normal;
}

.goal-table {
  width: 100%;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.goal-table th,
.goal-table td {
  padding: 8px;
  text-align: center;
  background-color: white;
}
.goal-table th {
  color: #888;
  background-color: #f2f2f2;
  font-weight: bold;
  padding: 1.2rem;
}
.goal-table .goal-action-d {
  background-color: lightcoral;
  color: white;
  font-size: 1.2rem;
}
.goal-table .goal-action-e {
  background-color: #00a26d;
  color: white;
  font-size: 1.2rem;
}

.goal-table-wrapper {
  position: sticky;
  top: 0;
  background-color: white;
}

.goal-table-list-container {
  max-height: 50vh;
  overflow-y: auto;
}

.gname,
.gamount {
  width: clamp(10rem, 2.857rem + 19.048vw, 20rem);
  background-color: white;
  color: black;
  box-sizing: border-box;
  border-radius: 0.5rem;
  border: 1px solid #00a26d;
  padding: 1em;
  margin-bottom: 1.25rem;
  font-size: 0.875rem;
  outline: none;
}

.goal-action-e,
.goal-action-d {
  border: none;
  outline: none;
  width: 5rem;
  border-radius: 0.5rem;
  height: 50px;
  margin: 0 1rem;
  padding: 0;
  display: inline-block;
  text-align: center;
  letter-spacing: normal;
}/*# sourceMappingURL=App.css.map */