@use 'partials/reset';
@import url('https://fonts.cdnfonts.com/css/poppins');

$pageColor:#FAFAFA;
$sideBarColor:#FFFFFF;
$contentColor: #FFFFFF;


$fontStyle:'Poppins', sans-serif;

$largeFont:2rem;
$mediumFont:1.5rem;
$smallFont:1rem;

@mixin center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


main{
    width: 80vw;
    height: 100vh;
}

.body{
    background-color: $pageColor;
    font-family: $fontStyle;
    height:100vh;
    width: 100vw;
    display:flex;
    flex-direction: row;
}


.sidebar{
    // border: 1px solid black;
    font-family: $fontStyle;
    background-color: $sideBarColor;
    width: 20vw;
    height: 100vh;
}

.sidebar__header{
    // border: 1px solid red;
    width: 20vw;
    height: 20vh;
    padding-left: 1rem;
    font-size: $largeFont;
    @include center;
}

.sidebar__main{
    // border: 1px solid blue;
    width: 20vw;
    height: 60vh; 
    display: flex;
    flex-direction: column;
    font-size: $mediumFont;
    li{
        height: fit-content;
        width: fit-content;
        padding:1rem 2rem;
        cursor: pointer;
    }
    li.active{
        color: red;
    }
    a{
        text-decoration: none;
        color: inherit;
    }
    a:hover{
        color: red;
    }
}



.sidebar__footer{
    // border: 1px solid yellow;
    width: 20vw;
    height: 20vh; 
    display: flex;
    align-items: flex-end;
}

.sidebar__footer-container{
    padding-left: 1rem;
    padding-bottom: 2rem;
}


.header{
    // border: 1px solid black;
    width: 80vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

//header
.header__user-container{
    padding-right: 2rem;
}

//content
.content{
    // border: 1px solid red;
    height: 90vh;
    width: 80vw;
    @include center;
}
.content-container{
    // border: 1px solid blue;
    height: 85vh;
    width: 70vw;
    border-radius: 1rem;
    background-color: $contentColor;
}
.content-title{
    font-size: $largeFont;
    padding:1rem;
}
.content-amount{
    font-size: $mediumFont;
}


//user content
.card-container{
    padding:0.5rem;
    height:16rem;
    width: 27rem;
    background-image: url('image/card.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    color:white;
    padding-left: 2.2rem;

}
.card-account-number{
    padding-top: 6rem;
    padding-bottom: 0.5rem;
}
.card-balance{
    font-size: 3rem;
    padding-bottom: 0.5rem;
}
.card-name{
    font-size: 1.5rem;
    padding-bottom: 0.25rem,;
}
.transaction-container{
    padding: 2rem;
}
.transaction-title{
    padding: 2rem;
}


